@charset "UTF-8";
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.4rem;
  color: dimgray;
  margin: 2.8rem;
  padding: 0.105rem 2.1rem;
}
html body header div {
  text-align: right;
  font-size: 1.12rem;
}
html body main {
  padding: 0.7rem;
}
html body main article {
  margin: 3.15rem 0.35rem;
}
html body main article section {
  margin: 2.8rem 1.05rem;
}

h1 {
  font-size: 2.31rem;
}

h2 {
  font-size: 1.82rem;
}

h3 {
  font-size: 1.61rem;
}

h2 {
  padding: 0.49rem 1.05rem;
  padding-bottom: 0;
  border-left: 2.1rem solid #006e54;
  border-bottom: 0.28rem solid #006e54;
}

h3, p {
  margin: 1.05rem 0;
  padding: 0;
}

p {
  margin: 0.325rem;
  line-height: 1.4;
}

ol, ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  margin-top: 2.8rem;
}
table th, table td {
  border: 1px solid dimgray;
  padding: 0.7rem 1.05rem;
  vertical-align: middle;
}
table td[colspan] {
  border-width: 0;
  padding: 1.4rem;
  text-align: center;
}

ul.error {
  color: tomato;
  margin-left: 0;
  padding-left: 0;
  font-size: 1.26rem;
}

form input[type="submit"], form button {
  margin: 1.05rem 0.7rem;
}

.message {
  font-weight: bold;
}

.error {
  color: tomato;
}

.required:after {
  content: "✞";
}

.note {
  font-size: 1.26rem;
}

#auth form {
  margin-left: 3.5rem;
}
#auth dl {
  overflow: hidden;
  width: 49rem;
}
#auth dl dt, #auth dl dd {
  float: left;
}
#auth dl dt {
  width: 11.2rem;
}
#auth dl dd {
  margin-left: 0.35rem;
  width: 28rem;
}
#auth dl dd:before {
  content: "：";
}
#auth #updateEntry dt {
  text-align: right;
}

#user #searchEntry form input[type="text"] {
  width: 21rem;
}
#user #searchResult table tr td:first-child {
  text-align: center;
}
#user #updateEntry {
  line-height: 2.4;
}
#user #updateEntry form input[name="zipcode"] {
  margin-left: 0.35rem;
  width: 5.95rem;
}
#user #updateEntry form input[name="phone"] {
  width: 9.8rem;
}
#user #updateEntry form input[name="email"] {
  width: 21rem;
}
#user #updateEntry form textarea {
  width: 28rem;
  height: 5.25rem;
}
#user #updateEntry form label {
  margin: 0 1.05rem 0 0.35rem;
}
